/* :root{
    --color_tagHTML: #F16529;
    --color_tagCSS: #379AD6;
    --color_tagJS: #E9CA21;
    --color_tagJQuery: #0868AB;
    --color_tagGithub: #000;
    --color_tagPhp: #8993BE;
    --color_tagReact: #24C0DC;
    --color_tagMySQL: #015B85;
}


.tagStyle.HTML5{background-color: var(--color_tagHTML);}
.tagStyle.CSS{background-color: var(--color_tagCSS);}
.tagStyle.JS{background-color: var(--color_tagJS);}
.tagStyle.jQuery{background-color: var(--color_tagJQuery);}
.tagStyle.php{background-color: var(--color_tagPhp);}
.tagStyle.github{background-color: var(--color_tagGithub);}
.tagStyle.react{background-color: var(--color_tagReact);}
.tagStyle.MySQL{background-color: var(--color_tagMySQL);} */


.noResult{
    grid-column: 1 / -1;
    text-align: center;
}


.secPortfolio{
    display: grid;
    grid-template-rows: min-content auto;
    height: 100%;
    padding: 60px 20px;
}

.secPortfolio header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnSearchWrap{
    position: relative;
}

.btn_search{
    display: block;
    line-height: 30px;
    height: 30px;
}
.btn_search::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 30px;
    vertical-align: bottom;
    background-color: var(--color_main);
    margin-right: 6px;
}
.btn_search::after{
    font-family: "Font Awesome 6 Free";
    display: inline-block;
    content: "\f0d7";
    font-size: 16px;
    font-weight: 700;
    vertical-align: bottom;
    margin-left: 3px;
    transition: 0.3s;
}
.active .btn_search::after{
    transform: rotate(180deg);
}

.viewOptionWrap{
    display: flex;
    gap: 15px;
}
.viewOptionWrap li{
    position: relative;
}
.viewOptionWrap input{
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
}
.viewOptionWrap label{
    cursor: pointer;
    display: flex;
    width: 40px;
    height: 40px;
    font-size: 30px;
    border-radius: 10px;
    background-color: #D9D9D9;
    justify-content: center;
    align-items: center;
}
.viewOptionWrap input:checked + label{
    background-color: var(--color_main);
    color: #fff;
}
.viewOptionWrap input:focus-visible + label{
    outline: auto;
    outline-color: #000;
}
.viewOptionWrap .table{
    font-size: 36px;
    color: #D9D9D9;
}

.viewOptionWrap .table ::before{
    z-index: 1;
    position: relative;
}
.viewOptionWrap .table ::after{
    content: "";
    display: block;
    background-color: var(--color_textDefault);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.viewOptionWrap input:checked + .table ::before{color: var(--color_main);}
.viewOptionWrap input:checked + .table ::after{background-color: #fff;}



.tagList{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tagStyle{
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}


/* 포트폴리오 리스트 */

.portfolioList{
    margin-top: 30px;
    padding: 50px 10px;
    display: grid;
    grid-template-rows: min-content;
    gap: 180px;
    overflow-y: scroll;
}

.portfolioList::-webkit-scrollbar {
    width: 10px;
}
.portfolioList::-webkit-scrollbar-thumb {
    /* background: #242; */
    background: rgba(255,255,255, 0.5);
    border: 2px solid var(--color_main);
    border-radius:5px;
}
.portfolioList::-webkit-scrollbar-track {
    border-radius:5px;
	background: var(--color_main); 
}

.portfolioList > li{
    display: grid;
    grid-template-columns: max-content auto;
    gap: 50px;
}
.portfolioList > li > img{
    width: 400px;
    height: 225px;
    border: 25px solid #FDF7EA;
    border-radius: 10px;
    flex-shrink: 1;
    box-sizing: content-box;
}

.portfolio_itemWrap{
    padding: 20px 30px;
    border-radius: 5px;
    background-color: var(--color_gray);
    flex-grow: 1;
}
.portfolio_itemWrap h3{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio_itemWrap p{
    text-indent: 10px;
}
.portfolio_itemWrap p:first-of-type{
    margin-bottom: 30px;
}

.linkList{
    margin: 40px 0 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
}

.linkList a{
    display: inline-block;
    position: relative;
    color: var(--color_textLink);
    line-height: 32px;
}
.linkList a::before{
    font-family: "Font Awesome 6 Free";
    content: "\f0c1";
    font-weight: 700;
    margin-right: 10px;
    vertical-align: bottom;
}
.linkList a::after{
    display: block;
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    right: 100%;
    background-color: var(--color_textLink);
    transition: right 0.3s;
}
.linkList a:hover::after{
    right: 0;
}

/* 포트폴리오 리스트 - 바둑형 보기 */
.portfolioList.table{
    grid-template-columns: repeat(auto-fill, minmax(338px, auto));
    justify-content: space-evenly;
    grid-auto-rows: max-content;
    column-gap: 30px;
    row-gap: 100px;
}

.portfolioList.table > li{
    width: 338px;
    grid-template-columns: 1fr;
    gap: unset;
    overflow: hidden;
    border-bottom: 2px solid var(--color_main);
    height: fit-content;
}

.table .portfolio_itemWrap h3{
    font-size: 24px;
    margin: unset;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table > li > img{
    width: 288px;
    height: 162px;
    flex-shrink: 1;
}


.table .portfolio_itemWrap{
    padding: 10px;
    background-color: unset;
    display: grid;
    gap: 25px;
}

.table .tagList{
    grid-row: 1;
}

.table .linkList{
    margin: 0 0 15px;
}

.table .portfolio_itemWrap p{
    display: none;
}
