.formSearchOption{
    display: none;
    position: absolute;
    left: 20px;
    margin-top: 10px;
    padding: 30px 40px;
    border-radius: 5px;
    background-color: var(--color_gray);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
    width: 600px;
}
.active .formSearchOption{
    display: block;
}

.formSearchOption .btn_close{
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
    color: var(--color_textDefault);
}

.formSearchOption .tagList{
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(4, max-content);
}

.formSearchOption .tagList li{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.formSearchOption input[name="searchOption"]{
    opacity: 0;
    position: absolute;
}

.customCheckbox{
    display: block;
    position: relative;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border: 3px solid var(--color_main);
    border-radius: 5px;
}

.formSearchOption .tagList :focus-visible + .customCheckbox{
    outline: auto;
    outline-color: #000;
}

.formSearchOption .tagList :checked + .customCheckbox{
    background-color: var(--color_main);
}

.formSearchOption .tagList :checked + .customCheckbox::before{
    position: absolute;
    left: 4px;
    bottom: 2px;
    display: block;
    content: "";
    width: 4px;
    height: 10px;
    background-color: #fff;
    border-radius: 2px;
    transform-origin: 2px 8px;
    transform: rotate(-40deg);
}
.formSearchOption .tagList :checked + .customCheckbox::after{
    position: absolute;
    left: 4px;
    bottom: 2px;
    display: block;
    content: "";
    width: 4px;
    height: 16px;
    background-color: #fff;
    border-radius: 2px;
    transform-origin: 2px 14px;
    transform: rotate(40deg);
}

.searchMethodWrap{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 16px;
    margin-top: 60px;
}

.searchMethodWrap > ul{
    display: flex;
    gap: 20px
}

.searchMethodWrap input[name="searchMethod"]{
    position: absolute;
    opacity: 0;
}

.searchMethodWrap label{
    display: block;
    width: 80px;
    background-color: #D9D9D9;
    font-weight: 700;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.searchMethodWrap :focus-visible + label{
    outline: auto;
    outline-color: #000;
}
.searchMethodWrap :checked + label{
    color: #fff;
    background-color: var(--color_main);
}